<div appMdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <app-menu-bar></app-menu-bar>
  </header>
  <main class="mdl-layout__content">
    <router-outlet *ngIf="!(isDuplicate | async)"></router-outlet>
    <app-duplicate-alert *ngIf="isDuplicate | async"></app-duplicate-alert>
  </main>
  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">SWPP17 Team 2</div>
    </div>
  </footer>
</div>
