<div class="content-top-margin">
  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card mdl-shadow--3dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Create Game</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label">Room title</label>
            <input class="mdl-textfield__input" [(ngModel)]="title" name="title" type="text">
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label">Password(optional)</label>
            <input class="mdl-textfield__input" [(ngModel)]="password" name="password" type="password">
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-radio mdl-js-radio" for="option-player-5">
              <input type="radio" id="option-player-5" class="mdl-radio__button" [(ngModel)]="player_number" name="player_number" [value]="5" checked>
              <span class="mdl-radio__label">5-player</span>
            </label>
            <label class="mdl-radio mdl-js-radio" for="option-player-6">
              <input type="radio" id="option-player-6" class="mdl-radio__button" [(ngModel)]="player_number" name="player_number" [value]="6">
              <span class="mdl-radio__label">6-player</span>
            </label>
          </div>
          <div class="error-message" *ngIf="error | async">{{error | async}}</div>
          <button class="create-game-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="create()">
            Create
          </button>
        </form>
      </div>
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</div>
