<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div *ngIf="(currentScene | async) === 'joining'">
      <h4>Joining to {{(roomId | async)}}...</h4>
    </div>
    <div *ngIf="(currentScene | async) === 'not-started'">
      <h3>{{(roomData | async).title}}</h3>
      <div class="mdl-list">
        <div class="mdl-list__item" *ngFor="let player of (roomData | async).players">
          <label class="mdl-list__item-primary-content mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" [for]="player.username + '_check'">
            <input type="checkbox" [id]="player.username + '_check'" class="mdl-checkbox__input" [checked]="player.ready" disabled>
            <i class="material-icons mdl=list__item-avatar">account_circle</i>
            {{player.username}}
          </label>
        </div>
      </div>
      <button
        class="ready-toggle-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
        (click)="toggleReady()">
        {{(readyStatus | async) ? 'Not Ready' : 'Ready'}}
      </button>
      <button
        *ngIf="isHost | async"
        [disabled]="!(isStartable | async)"
        class="ready-toggle-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        (click)="startGame()">
        Start
      </button>
    </div>
    <div *ngIf="(currentScene | async) === 'started'">
      <ul>
        <li *ngFor="let card of (hand | async)">
          {{cardToString(card)}}
        </li>
      </ul>
      <app-game-bid *ngIf="(isMyTurn | async) && (gameProgressState | async) === 'bidding'"></app-game-bid>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
