.lobby {
  position: absolute;
  min-height: 100%;
  max-width: 840px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  padding: 0 0 30px;
}
.message {
  width: 350px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.no-games-message {
  color: grey;
}
.spinner {
}
.room-list__item {
  border: 1px solid #e0e0e0;
}
.room-list__item:hover {
  background-color: #e0e0e0;
}
.room-title {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.private-icon {
  width: 24px;
}
.new-game-button {
  position: fixed;
  bottom: 56px;
  right: 18px;
}
