.lobby {
  max-width: 840px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
}
.lobby > * {
  margin: 8px 0;
}

.room-header {
  display: flex;
  align-items: center;
}
.room-list__item {
  border: 1px solid rgba(0,0,0,0.12);
}
.mdl-list__item-avatar {
  text-align: center;
}
.new-game-button {
  position: fixed;
  bottom: 18px;
  right: 18px;
}
