<div class="mdl-layout--large-screen-only">
  <div class="mdl-layout__header-row logo-header-large">
    <div class="mdl-layout-spacer"></div>
    <!-- Logo -->
    <span class="mdl-layout-title clickable" (click)="gotoLobby()">
      <img [src]="showDoge ? dogeLogoPath : longLogoPath" height="56px">
    </span>
    <div class="mdl-layout-spacer"></div>
  </div>

  <div class="header-large mdl-layout__header-row mdl-color--grey-800">
    <!-- Hall of Fame -->
    <nav class="mdl-navigation">
      <span class="mdl-navigation__link clickable" (click)="gotoHallOfFame()">Hall of Fame</span>
    </nav>

    <!-- Spacer -->
    <div class="mdl-layout-spacer"></div>

    <!-- Buttons -->
    <div *ngIf="!(signedIn | async)">
      <nav class="mdl-navigation">
        <span class="mdl-navigation__link clickable" (click)="gotoSignIn()">Sign in</span>
      </nav>
    </div>
    <div *ngIf="signedIn | async">
      <nav class="mdl-navigation">
        <span class="mdl-navigation__link profile-link-large clickable" (click)="gotoProfile()">
          <i class="material-icons">account_circle</i>
          {{username | async}}
        </span>
        <span class="mdl-navigation__link clickable" (click)="signOut()">Sign out</span>
      </nav>
    </div>
  </div>
</div>

<div class="mdl-layout--small-screen-only">
  <div class="mdl-layout__header-row logo-header-small">
    <!-- Logo -->
    <span class="mdl-layout-title clickable" (click)="gotoLobby()">
      <img id="logo-small" src={{logoPath}}>
    </span>
    <div class="mdl-layout-spacer"></div>

    <!-- Buttons -->
      <div *ngIf="!(signedIn | async)">
        <nav class="mdl-navigation">
          <span class="mdl-navigation__link mdl-color-text--accent clickable" (click)="gotoSignIn()">Sign in</span>
        </nav>
      </div>
      <div *ngIf="signedIn | async">
        <nav class="mdl-navigation">

          <!-- TODO -->

          <span class="mdl-navigation__link mdl-color-text--accent profile-link-small clickable" (click)="gotoProfile()">
            <i class="material-icons">account_circle</i>
            <span >{{username | async}}</span>
          </span>
          <span class="mdl-navigation__link mdl-color-text--accent clickable" (click)="signOut()">Sign out</span>
        </nav>
      </div>
  </div>
</div>
