.clickable {
  cursor: pointer;
}
.logo-header-large {
  padding: 0 0 0 0;
  justify-content: center;
  background-color: white;
  min-height: 130px;
}
.logo-header-small {
  padding: 0 20px 0 40px;
  justify-content: center;
  background-color: white;
}
#logo-small {
  height: 40px;
}
.profile-link-large {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile-link-small {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
