<div class="mdl-grid--no-spacing">
  <div class="profile-view mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--3dp">
    <h4 class="error-message" *ngIf="error" style="display: inline">{{error}}</h4>
    <div *ngIf="profile">
      <div class="mdl-list">
        <div class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <img class="mdl-list__item-avatar profile-avatar" [src]="profile.avatar">
            <span id="profile-view-nickname">{{nickname}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
