<div class="card-player" *ngIf="card">
  <button
    *ngIf="isJokerCall(card, giruda | async) && (isFirstTurn | async)"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    (click)="jokerCallPlay()">
    Joker Call
  </button>
  <div *ngIf="isJoker(card) && (isFirstTurn | async)">
    Suit:
    <select [(ngModel)]="jokerSuit">
      <option value="G" selected>Giruda</option>
      <option value="S">Spades</option>
      <option value="D">Diamonds</option>
      <option value="C">Clubs</option>
      <option value="H">Hearts</option>
    </select>
  </div>
  <button
    class="play-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    (click)="normalPlay()">
    Play
  </button>
</div>
