<div>
  <p>
  Choose your Friend, select 3 cards to discard, and start the game!
  </p>
  <div>
    <label *ngFor="let option of options"
           class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
      <input type="radio"
             class="mdl-radio__button"
             name="friend-type"
             [value]="option.type"
             [checked]="(friendDecl | async).type === option.type"
             (click)="changeType(option.type)">
      {{option.caption}}
    </label>
  </div>
  <div *ngIf="(friendDecl | async).type === 'card'">
    <label #jokerCheckbox class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
      <input type="checkbox"
             class="mdl-checkbox__input"
             (click)="toggleJoker()">
      Joker
    </label>
    <div *ngIf="!(jokerSelected | async)">
      <select (change)="changeRank($event.target.value)">
        <option *ngFor="let rank of rankList"
                [value]="rank.name"
                [selected]="(friendDecl | async).card.rank === rank.name">
          {{rank.caption}}
        </option>
      </select>
      of
      <select (change)="changeSuit($event.target.value)">
        <option *ngFor="let suit of suitList"
                [value]="suit.name"
                [selected]="(friendDecl | async).card.suit === suit.name">
          {{suit.caption}}
        </option>
      </select>
    </div>
  </div>
  <div *ngIf="(friendDecl | async).type === 'player'">
    <input type="text" placeholder="Username" [value]="(friendDecl | async).player" (input)="changePlayer($event.target.value)">
  </div>
  <div *ngIf="(friendDecl | async).type === 'round'">
    <input type="number" placeholder="Round number" min="1" max="10" [value]="(friendDecl | async).round" (input)="changeRound($event.target.value)">
  </div>
  <button [disabled]="!(cardSelected | async)" (click)="confirm()">
    Start
  </button>
</div>
