<div class="bid-menu">
  <div class="bid-giruda">
    <label #girudaS class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect">
      <input type="checkbox" class="mdl-icon-toggle__input" (click)="changeGiruda('S')" checked>
      <span  class="mdl-icon-toggle__label black-suit">♠</span>
    </label>
    <label #girudaD class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect">
      <input type="checkbox" class="mdl-icon-toggle__input" (click)="changeGiruda('D')">
      <span class="mdl-icon-toggle__label red-suit">♦</span>
    </label>
    <label #girudaC class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect">
      <input type="checkbox" class="mdl-icon-toggle__input" (click)="changeGiruda('C')">
      <span class="mdl-icon-toggle__label black-suit">♣</span>
    </label>
    <label #girudaH class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect">
      <input type="checkbox" class="mdl-icon-toggle__input" (click)="changeGiruda('H')">
      <span class="mdl-icon-toggle__label red-suit">♥</span>
    </label>
    <label #girudaN class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect">
      <input type="checkbox" class="mdl-icon-toggle__input" (click)="changeGiruda('N')">
      <span class="mdl-icon-toggle__label no-giruda">NO</span>
    </label>
  </div>
  <div class="bid-score">
    <h6 class="bid-score-text">{{bidScore}}</h6>
    <p class="bid-score-slider">
      <input class="mdl-slider mdl-js-slider" type="range"
        min="12" max="20" [(ngModel)]="bidScore">
    </p>
  </div>
  <div class="bid-buttons">
    <button
      class="pass-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      (click)="pass()">
      Pass
    </button>
    <button
      class="bid-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      (click)="bid()">
      Bid
    </button>
  </div>
</div>
