.table {
  height: 100%;
  min-height: 600px;
  max-width: 840px;
  min-width: 375px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
}
.mdl-progress {
  width: 100%;
}
.message {
  width: 350px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) translate(0, -80px);
  text-align: center;
}
.title-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0 16px;
  margin: 4px;
}
.my-hand {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}
.playing-card {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.playing-card.shrink.row-one {
  transform: translate(0, 70%);
}
.playing-card.shrink.row-two {
  z-index: 1;
}
.card-image {
  width: 100%;
}
.my-status {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 375px;
  padding: 0;
}
.my-status > div {
  padding: 0 16px;
}
.others-status {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 375px;
  padding: 0;
}
.others-status > div {
  padding: 0 16px;
}
.add-ai {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.ready {
  color: white;
  background-color: rgb(68, 138, 255);
}
.not-ready {
  color: lightgrey;
  background-color: white;
}
.bid-turn {
  color: white;
  background-color: rgb(68, 138, 255);
}
.bid-wait {
  color: lightgrey;
  background-color: white;
}
.bid-true {
  color: green;
  background-color: white;
}
.bid-false {
  color: red;
  background-color: white;
}
.bid-string {
  margin: 0 0 0 8px;
}
.username {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.start-game-button {
  margin: 0 0 0 4px;
}
.selected {
  filter: invert(100%);
}
app-game-bid {
  height: 175px;
  width: 350px;
  padding: 4px 16px;
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
app-card-view {
  height: 100%;
  min-height: 500px;
  width: 100%;
  position: absolute;
  z-index: -1;
}
app-card-player {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 375px;
  height: 48px;
  padding: 0;
}
