.bid-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.bid-giruda {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}
.mdl-icon-toggle__label {
  line-height: 32px;
  font-size: 24px;
  color: #bdbdbd;
}
.mdl-icon-toggle__label.no-giruda {
  font-size: 12px;
}
.mdl-icon-toggle.is-checked .no-giruda {
  color: black;
}
.bid-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.bid-score {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bid-score-text {
  margin: 0;
}
