<div class="mdl-grid--no-spacing">
  <div class="table mdl-cell mdl-cell--8-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-shadow--3dp">
    <div *ngIf="(currentScene | async) === 'joining'" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    <div *ngIf="(currentScene | async) === 'not-started'">
      <h3 class="title-message">
        {{(roomData | async).title}}
      </h3>
      <div class="my-status mdl-list">
        <div class="mdl-list__item" *ngFor="let player of [(playerList | async)[0]]">
          <div class="mdl-list__item-primary-content">
            <i [class.ready]="player.ready" [class.not-ready]="!(player.ready)" class="ready-status material-icons mdl-list__item-avatar">check</i>
            <span class="username">{{player.username}}</span>
          </div>
          <button
            class="mdl-list__item-secondary-action ready-toggle-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            (click)="toggleReady()">
            Ready
          </button>
          <button
            *ngIf="isHost | async"
            [disabled]="!(isStartable | async)"
            class="mdl-list__item-secondary-action start-game-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            (click)="startGame()">
            Start
          </button>
        </div>
      </div>
      <div class="others-status mdl-list">
        <button
          *ngIf="isHost | async"
          class="mdl-list__item mdl-button mdl-js-button mdl-js-ripple-effect"
          (click)="addAi()">
          Add an AI
        </button>
        <div class="mdl-list__item" *ngFor="let player of (playerList | async).slice(1)">
          <div class="mdl-list__item-primary-content">
            <i [class.ready]="player.ready" [class.not-ready]="!(player.ready)" class="ready-status material-icons mdl-list__item-avatar">check</i>
            <span class="username">{{player.username}}</span>
          </div>
          <button
            *ngIf="player.username[0] === '*'"
            class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--icon"
            (click)="removeAi(player.username)">
            <i class="material-icons">remove</i>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="(currentScene | async) === 'started'">
      <div *ngIf="(gameProgressState | async) === 'bidding'">
        <h3 class="title-message">
          Bidding...
        </h3>
        <div class="my-status mdl-list">
          <div class="mdl-list__item" *ngFor="let player of [(playerList | async)[0]]">
            <div class="mdl-list__item-primary-content">
              <div *ngIf="(turnOf | async) === player.username">
                <i class="bid-turn material-icons mdl-list__item-avatar">
                  forward
                </i>
              </div>
              <div *ngIf="(turnOf | async) !== player.username">
                <i
                  *ngIf="!(bidHistory | async).hasOwnProperty(player.username)"
                  class="bid-wait material-icons mdl-list__item-avatar">
                  more_horiz
                </i>
                <i
                  *ngIf="(bidHistory | async).hasOwnProperty(player.username) && (bidHistory | async)[player.username].bid"
                  class="bid-true material-icons mdl-list__item-avatar">
                  directions_run
                </i>
                <i
                  *ngIf="(bidHistory | async).hasOwnProperty(player.username) && !(bidHistory | async)[player.username].bid"
                  class="bid-false material-icons mdl-list__item-avatar">
                  clear
                </i>
              </div>
              <span class="username">{{player.username}}</span>
            </div>
            <div *ngIf="(bidHistory | async).hasOwnProperty(player.username)">
              <span>{{bidToString((bidHistory | async)[player.username])}}</span>
            </div>
          </div>
        </div>
        <div class="others-status mdl-list">
          <div class="mdl-list__item" *ngFor="let player of (playerList | async).slice(1)">
            <div class="mdl-list__item-primary-content">
              <div *ngIf="(turnOf | async) === player.username">
                <i class="bid-turn material-icons mdl-list__item-avatar">
                  forward
                </i>
              </div>
              <div *ngIf="(turnOf | async) !== player.username">
                <i
                  *ngIf="!(bidHistory | async).hasOwnProperty(player.username)"
                  class="bid-wait material-icons mdl-list__item-avatar">
                  more_horiz
                </i>
                <i
                  *ngIf="(bidHistory | async).hasOwnProperty(player.username) && (bidHistory | async)[player.username].bid"
                  class="bid-true material-icons mdl-list__item-avatar">
                  directions_run
                </i>
                <i
                  *ngIf="(bidHistory | async).hasOwnProperty(player.username) && !(bidHistory | async)[player.username].bid"
                  class="bid-false material-icons mdl-list__item-avatar">
                  clear
                </i>
              </div>
              <span class="username">{{player.username}}</span>
            </div>
            <div *ngIf="(turnOf | async)=== player.username" class="bidding spinner mdl-spinner mdl-js-spinner is-active"></div>
            <div *ngIf="(bidHistory | async).hasOwnProperty(player.username)" class="bid-string">
              <span>{{bidToString((bidHistory | async)[player.username])}}</span>
            </div>
          </div>
        </div>
        <app-game-bid *ngIf="isMyTurn | async"></app-game-bid>
      </div>
      <div *ngIf="(gameProgressState | async) === 'elected'">
        {{(bid | async).player}} has been elected!
        <app-friend-select *ngIf="isMyTurn | async"></app-friend-select>
        <div *ngIf="!(isMyTurn | async)">Waiting for the president...</div>
      </div>
      <div>
        <div *ngIf="(gameProgressState | async) !== 'bidding'">
          Bid: {{bidCoreToString(bid | async)}}
        </div>
        <div *ngIf="(gameProgressState | async) === 'playing'">
          Friend: {{friendDeclToString(friendDecl | async)}}
          <span *ngIf="(friendDecl | async).type !== 'player' && (friend | async)">
            ({{friend | async}})
          </span>
        </div>
      </div>
      <app-card-view *ngIf="(gameProgressState | async) === 'playing'">
      </app-card-view>
      <app-card-player
        *ngIf="(gameProgressState | async) === 'playing'"
        [card]="(selectedCards | async)[0]">
      </app-card-player>
      <div class="my-hand">
        <div
          *ngFor="let card of (hand | async)"
          class="playing-card"
          [class.shrink]="(gameProgressState | async) === 'bidding' && (isMyTurn | async)"
          [class.row-one]="i < 5"
          [class.row-two]="i >= 5"
          [class.selected]="(selectedCards | async).includes(card)"
          (click)="selectCard(card)">
          <img class="card-image" [src]="cardToFilePath(card)">
        </div>
      </div>
    </div>
    <div *ngIf="(currentScene | async) === 'result'">
      <p>
      {{(resultCalc | async).win === 'ruling' ? 'Ruling' : 'Opposing'}} party win!
      </p>
      <div>
        <span>Bid: {{(resultCalc | async).bid}}</span>
        <span>President: {{(resultCalc | async).president}}</span>
        <span>Friend: {{(resultCalc | async).friend}}</span>
      </div>
      <ul>
        <li *ngFor="let player of (resultCalc | async).playerData"
            [class.ruling]="player.team === 'ruling'"
            [class.opposing]="player.team === 'opposing'">
          {{player.username}}: {{player.score}} point(s)
        </li>
      </ul>
      <div *ngIf="continueConfirmed | async">
        Please wait until the other players decide...
      </div>
      <div *ngIf="!(continueConfirmed | async)">
        <button (click)="continueGame()">
          Continue
        </button>
        <button (click)="leaveRoom()">
          Leave
        </button>
      </div>
    </div>
  </div>
</div>
